body {
    font-family: "Poppins";
    max-width: 1290px;
    margin: 0 auto;
}

.gradient{
    background: linear-gradient(to top, #8758F1, #F948B2);
    background-clip: text;
    color: transparent;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    box-shadow: 0 0 6px lightgray;
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-weight: 700;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icon img {
    height: 19px;
}

.icons>a {
    margin-right: 0;
}

.icons>span {
    margin-left: 5px;
    color: #FF42A5;
    font-size: 20px;
}
/* ............... top-section ................. */
.sign-in > small{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}
.sign-in > small > p{
    
    margin: 5px;
}
.sign-in i{
    font-size: 15px;
}
.text{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.text > h1{
    font-size: 40px;
    margin-bottom: 0;
}
.sign-in button, .mid-section button, .career-btn button{
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    color: whitesmoke;
    font-weight: 700;

}
.top-section{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 100px;
    /* border: 2px solid red; */
}
.image img{
    height: 400px;
}
/* ................mid section.................... */
.mid-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 100px 0 65px;
    margin-top: 100px;
}
.mid-section img{
    height: 310px;
    /* border: 2px solid red; */
}
.mid-section .mid-text{
    /* border: 2px solid red; */
    width: 50%;
    text-align: right;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.mid-section button{
    background-color: #FF42A5;
    margin: 25px 0;
}

/*................................ games-section....................... */
.games-header{
    text-align: center;
}
.games{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-top: 20px;
}
.games .game{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 220px;
    border-radius: 13px;
    padding: 8px;
    box-shadow: 0 0 4px gray;
    /* padding: 0 100px; */
}
.game img{
    width: 100%;
}
.game small{
    margin-top: 8px; 
}

/* *************************play instant **********************/
.play-instant-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    margin-top: 100px;
}
.play-instant-image{
    /* margin-right: -50px; */
    /* border: 2px solid red; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    height: 490px;
    
}
.play-instant-text{
    /* border: 2px solid red; */
    padding-right: 320px;
    text-align: end;
}
#rec-55, #rec-67{
    width: 440px;
    height: 455px;
}
#rec-66{
    padding: 5px;
    width: 200px;
    height: 240px;
    position: relative;
    bottom: 165px;
    right: 100px;
    margin-bottom: 0;
}

/* ...........play online .................. */
.play-online-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 100px;
    margin-top: 100px;
}
.play-online-image{
    /* margin-right: -50px; */
    /* border: 2px solid red; */
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    height: 490px;
    
}
.play-online-text{
    /* border: 2px solid red; */
    padding-left: 297px;
    
}
#rec-55, #rec-67{
     width: 440px;
     /* height: 455px; */
}
#rec-78{
    padding: 5px;
    width: 200px;
    height: 240px;
    position: relative;
    bottom: 165px;
    left: 335px;
    margin-bottom: 0;
}


/* .....................................career section.......................... */
.career-container{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #F948B2;
    margin-top: 100px;
}
/* .career-img{
    width: 50%;
    border: 2px solid red;
} */
 .career-container{
    margin-top: 100px;
 }
.career-img img{
    width:650px;
    height: 100%;
}
.career-info p{
    display: flex;
    justify-content: space-between;
}
.career-container .career{
    padding: 0 0 50px 100px;
}
.career-btn button{
    padding: 12px;
    font-size: 16px;
    margin-top: 30px;
}
/* .............game-list.................. */
.game-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* column-gap: 50px; */gap: 0px;
    padding: 0 100px;
    margin-top: 100px;
}
.game-list img{
    width: 40px;
}
.game-list .game{
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 2px solid #F948B2; */
    border-radius: 34px;
    padding: 0 10px;
    width: 250px;
    box-shadow: 0 0 4px #F948B2;
}
.game p{
    /* font-size: 20px; */
    font-weight: 600;
}
/* ...................footer................... */
.footer{
    margin-top: 100px;
    text-align: center;
    box-shadow: 0 0 4px gray;
}
.footer-nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-nav-icon img{
height: 40px;
}
.footer a{
    text-decoration: none;
    margin:0 10px;
}
.footer-icon i{
    font-size: 40px;
    margin: 10px ;
}
.policies small{
    margin: 0 30px;
}